@model List<RapidAPI.Models.ApiMovieViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Filmler</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<body>
<div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th >Sıralama</th>
                <th >Film Adı</th>
                <th >Yılı</th>
                <th >Puanı</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
                {
                    <tr>
                        <th >@item.rank</th>
                        <td>@item.title</td>
                        <td>@item.year</td>
                        <td>@item.rating</td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</body>
</html>

